/BT/ki12425/BankAccount/nbproject/private/
/BT/ki12425/inheritance/nbproject/private/
/BT/ki12425/inheritance/build/
/BT/ki12425/User/nbproject/private/
/BT/ki12425/UserMGMT/nbproject/private/
/BT/ki12425/UserMGMT/build/
/BT/ki12425/Frame Demo/nbproject/private/
/BT/ki12425/Frame Demo/build/
/BT/ki12425/Login-Register/nbproject/private/
/BT/ki12425/LoginRegister/nbproject/private/
/BT/ki12425/LoginRegister/build/
/BT/ki12425/LoginRegister/dist/
